.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}
.top-nav {
  display: flex;
  align-items: inherit;
  justify-content: space-between;
  min-width: 100%;
  min-height: 60px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;

  @include transitionProperty(fill);

  & .icon-cross {
    display: none;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-burger {
    display: none;
  }

  &:hover .icon-burger,
  &:focus .icon-burger,
  &:hover .icon-cross,
  &:focus .icon-cross {
    fill: $akcent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-container {
  background-color: $bg-main-color;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    width: 100%;

    &.is-open {
      display: block;
      text-align: center;
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.main-menu {
  @extend %list;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 60px;
}

.link {
  position: relative;

  color: $title-color;
  text-decoration: none;

  display: inline-block;
  // padding: 32px 0;
  padding-bottom: 8px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $cubic;

  &:hover,
  &:focus {
    color: $akcent-color;
  }
}

.current {
  position: relative;
  color: $akcent-color;

  &::after {
    position: absolute;
    left: 0;
    bottom: 0;

    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $akcent-color;
  }
}

.main-menu .item:not(:last-child) {
  margin-bottom: 40px;
}

// /* ------Стилизация блока контактов в шапке------- */

.top-сontacts {
  color: $text-color;
  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  // display: inline-flex;
  @include centeredFlex(flex);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: $cubic;

  &:hover,
  &:focus {
    color: $akcent-color;
  }

  .top-address &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.top-address {
  // margin-left: auto;
  // display: inline-flex;
  // align-items: center;
  // display: none;
}

.envelope,
.smartphone {
  fill: $text-color;
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: $cubic;

  .top-сontacts:hover &,
  .top-сontacts:focus & {
    fill: $akcent-color;
  }
}

.envelope {
  width: 16px;
  height: 11.2px;
}

.smartphone {
  width: 10px;
  height: 14.94px;
}
